<%= render "form.html", changeset: @changeset,
                        action: admin_activity_experience_path(@conn, :update, @activity, @experience),
                        back: admin_activity_path(@conn, :show, @activity),
                        activity: @activity,
                        images: @images,
                        categories: @categories %>
