<%= render "form.html", changeset: @changeset,
                        action: admin_activity_experience_path(@conn, :create, @activity),
                        back: admin_activity_path(@conn, :show, @activity),
                        activities: @activities,
                        categories: @categories %>
