# Erlang version
erlang_version=18.2.1

# Elixir version
elixir_version=1.2.2

# Always rebuild from scratch on every deploy?
always_rebuild=true

# Build templates from ember
pre_compile="mix deps.client && cd client && ./node_modules/ember-cli/bin/ember build -prod && cd .."

# Migrate!
post_compile="mix ecto.migrate"
