<link rel="stylesheet" href="<%= static_path(Grid.Endpoint, "/css/app.css") %>">
<link rel="icon" href="<%= static_path(Grid.Endpoint, "/favicon.ico") %>" type="image/gif" sizes="16x16">
<script src="https://use.typekit.net/fal4rbd.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
