<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
  <ul class="mobile-ofc vertical menu" >
    <li class="menu-text"><a href="/">Home</a></li>
    <li class="menu-text"><a href="http://www.outpostjh.com/rentals/">Lodging</a></li>
    <li class="menu-text"><%= link "Activities", to: explore_path(Grid.Endpoint, :index, ["activities"]) %></li>
    <li class="menu-text"><a href="http://www.outpostjh.com/outpostchronicles">Journal</a></li>
    <li class="menu-text"><a href="http://www.outpostjh.com/about/">About Us</a></li>
    <li class="menu-text"><a href="<%= explore_path(Grid.Endpoint, :index, ["cart"]) %>" class="flaticon-cart fi">&nbsp;</a></li>
  </ul>
</div>
