<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
  <ul class="mobile-ofc vertical menu" >
    <li class="menu-text"><a href="/">Home</a></li>
    <%= unless assigns[:kiosk] do %>
    <li class="menu-text"><a href="http://www.outpostjh.com/rentals/">Lodging</a></li>
    <% end %>
    <li class="menu-text"><%= link "Activities", to: explore_path(Grid.Endpoint, :index, ["activities"]) %></li>
    <%= unless assigns[:kiosk] do %>
    <li class="menu-text"><a href="http://www.outpostjh.com/trip-planning/">Trip Planning</a></li>
    <li class="menu-text"><a href="http://www.outpostjh.com/itswhatwedohere">Journal</a></li>
    <li class="menu-text"><a href="http://www.outpostjh.com/about/">About Us</a></li>
    <li class="menu-text"><a href="http://www.outpostjh.com/property-management/">List Your Property</a></li>
    <% end %>
    <li class="menu-text"><%= link to: explore_path(Grid.Endpoint, :index, ["cart"]), class: "flaticon-cart fi" do %>&nbsp;<% end %></li>
  </ul>
</div>
