<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin | Outpost | Jackson Hole eConcierge</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img alt="OUTPOST" src="/images/barn-transparent.png">
          </a>
          <p class="navbar-text">Admin: <%= Grid.AdminView.environment_tag %></p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <p class="navbar-text"><%= @current_user.email %></p>
              <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-expanded="false">
                <%= if @current_user.image do %>
                <img src="<%= @current_user.image %>">
                <% else %>
                <span class="glyphicon glyphicon-user"></span>
                <% end %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li class="info">
                    <%= link "Log Out", to: auth_path(@conn, :logout) %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="<%= nav_class(@conn, Grid.Admin.DashboardController) %>">
              <%= link "Dashboard", to: admin_dashboard_path(@conn, :index) %>
            </li>
            <li class="<%= nav_class(@conn, Grid.Admin.ActivityController) %>">
              <%= link "Activities", to: admin_activity_path(@conn, :index) %>
            </li>
            <li class="<%= nav_class(@conn, Grid.Admin.CategoryController) %>">
              <%= link "Categories", to: admin_category_path(@conn, :index) %>
            </li>
            <li class="<%= nav_class(@conn, Grid.Admin.VendorController) %>">
              <%= link "Vendors", to: admin_vendor_path(@conn, :index) %>
            </li>
            <li class="<%= nav_class(@conn, Grid.Admin.UserController) %>">
              <%= link "Users", to: admin_user_path(@conn, :index) %>
            </li>
          </ul>
        </div>
        <div class="col-xs-10 col-sm-10 col-xs-offset-2 col-sm-offset-2 col-md-10 col-md-offset-2 main">
          <ol class="breadcrumb">
          <%=
            breadcrumbs = Grid.Admin.BreadcrumbsView.breadcrumbs(@conn)
            if breadcrumbs == [] do
              Grid.Admin.BreadcrumbsView.crumb("Dashboard")
            else
              for breadcrumb <- breadcrumbs do
                Grid.Admin.BreadcrumbsView.crumb(breadcrumb)
              end
            end
          %>
          </ol>
          <%= render "_header.html", page_title: assigns[:page_title] %>

          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/admin.js") %>"></script>
  </body>
</html>
