<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Outpost | Jackson Hole eConcierge</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="icon" href="<%= static_path(@conn, "/favicon.ico") %>" type="image/gif" sizes="16x16">
  </head>

  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
          <ul class="mobile-ofc vertical menu" >
            <li class="menu-text logo"><a href="/">Home</a></li>
            <li><a href="#">Reservations</a></li>
            <li><a href="#">Vacation Rentals</a></li>
            <li><a href="#">Journal</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#" class="flaticon-calendar146">&nbsp;</a></li>
          </ul>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
          <%= render "_header.html" %>

          <%= render @view_module, @view_template, assigns %>

          <%= render "_footer.html" %>
          <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
          <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
          <script src="https://use.typekit.net/fal4rbd.js"></script>
          <script>try{Typekit.load({ async: true });}catch(e){}</script>
        </div>
      </div>
    </div>
  </body>
</html>
