<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Outpost | Jackson Hole eConcierge</title>
    <%= render "_head_scripts.html" %>
  </head>

  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <%= render "_off_canvas_menu.html", assigns %>
        <div class="off-canvas-content" data-off-canvas-content>
          <%= render "_header.html", assigns %>

          <%= render @view_module, @view_template, assigns %>

          <%= render "_footer.html", assigns %>
        </div>
      </div>
    </div>
    <%= render "_footer_scripts.html" %>
  </body>
</html>
