.booking-modal {
  h3 {
    font-size: 2rem;
    &.text-center {
      font-size: 1.6rem;
    }
  }
  h4.subheader {
    font-size: rem-calc(14);
    color: $medium-gray;
    flex-wrap: nowrap;
  }
  .trip-details {
    margin-top: rem-calc(20);
    border-top: 1px solid $medium-gray;
    header {
      position: relative;
      padding: rem-calc(20) 0;
      margin-bottom: rem-calc(20);
      color: $dark-gray;
      background-color: $light-gray;
      .button-back {
        position: absolute;
        left: rem-calc(20);
        text-transform: uppercase;
        background-color: lighten($light-gray, 10%);
      }
    }
  }
  label {
    font-size: 1rem;
    color: $medium-gray;
    text-align: center;
    margin-bottom: .4rem;
    position: relative;
    .has-tip {
      border-bottom: none;
      font-size: .7em;
      position: absolute;
      top: -3px;
      .questionmark {
        margin-left: 5px;
        color: white;
        .circle-fill {
          color: $light-gray;
        }
      }
    }
  }
  p {
    margin-bottom: 0;
  }
  section {
    margin-bottom: 1rem;
  }
  .date-selection, .time-selection {
    margin-bottom: 2rem;
    label{
      text-align: center;
    }
    .date, .time {
      max-width: 256px;
    }
  }
  .meeting-address {
    color: $dark-gray;
    font-weight: 100;
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  input {
    border-color: $medium-gray;
    border-radius: 6px;
  }
  .datepicker {
    width: 140px;

    border: 1px solid $medium-gray;
    border-radius: 6px;
    height: 40px;
    line-height: 38px;
    position: relative;
    &::after {
      @include down-arrow();
      color: $medium-gray;
      right: 0;
      font-size: 2rem;
      line-height: 38px;
      height: 38px;
    }
  }
  .booking-total {
    position: absolute;
    right: rem-calc(20);
    .book-total-amount,
    .book-total-label {
      width: 100%;
      color: $dark-gray;
      line-height: 1;
    }
    .book-total-amount {
      font-size: 2.6rem;
    }
    .book-total-label {
      text-transform: lowercase;
      font-size: rem-calc(12);
    }
  }
  .booking-footer {
    .button-next {
      &.disabled {
        opacity: .9
      }
    }
    & > .column {
      margin-bottom: 1rem;
    }
  }
}

.body-count {
  min-width:131px;
  .fa-plus-square, .fa-minus-square {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
    &:before {
      font-size: 46px;
      margin-top: -3px;
      display: inline-block;
      font-weight: 100;
      cursor: pointer;
    }
  }
  input {
    border-color: $medium-gray;
    border-radius: 6px;
    &[type=number] {
      -moz-appearance: textfield;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  .input-group-field {
    padding-left: rem-calc(16);
    max-width: rem-calc(46);
    min-width: rem-calc(46);
    width: rem-calc(46);
    margin: 0 1rem;
  }
  .input-group-button {
    width: auto;
  }

}
