.categories,
.activities {
  .columns {
    text-align: center;
    position: relative;
    height: 266px;
    margin: 0;
    margin-bottom: rem-calc(80);
    > div {
      max-width: 400px;
      height: 266px;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      color: $white;
      margin-left: 0;
      margin-right: 0;
      a,
      a:hover {
        color: $white;
      }
      &:hover {
        .element-name {
          opacity: 0;
          visibility: hidden;
          display: none;
        }
        .element-description {
          position: relative;
          visibility:visible;
          opacity: 1;
        }
      }
    }
  }
  .element-name {
    position: relative;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.5s linear, visibility 0s;
    p {
      font-size: 1.8rem;
    }
  }
  .element-description {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    font-weight: normal;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s linear, visibility 0s;
    p {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    a, button {
      display: block;
      position: relative;
      z-index: 2;
      min-width: 100%;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      span {
        @include center-content();
        min-width: 90%;
      }
    }
  }
  .lower-right {
    font-weight: $global-weight-bold;
  }
}
.activities {
  padding: 6rem 0;
  background-color: $light-gray;
}
