.categories {
  .columns {
    text-align: center;
    position: relative;
    height: 300px;
    margin: 0;
    margin-bottom: rem-calc(168);
    > div {
      max-width: 450px;
      height: 300px;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      color: $white;
      a,
      a:hover {
        color: $white;
      }
      &:hover {
        .category-name {
          display: none;
        }
        .category-description {
          display: block;
          position: relative;
          z-index: 2;
          min-width: 100%;
        }
      }
    }
  }
  .category-name {
    position: relative;
    z-index: 2;
    p {
      font-size: 1.8rem;
    }
  }
  .category-description {
    display: none;
    font-weight: normal;
    font-size: 1.2rem;
  }
  .lower-right {
    font-weight: bold;
  }
}
