.categories,
.activities {
  .columns {
    text-align: center;
    position: relative;
    height: 266px;
    margin: 0;
    margin-bottom: rem-calc(80);
    > div {
      max-width: 400px;
      height: 266px;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      color: $white;
      margin-left: 0;
      margin-right: 0;
      a,
      a:hover {
        color: $white;
      }
      &:hover {
        .element-name {
          margin-bottom: 0;
          margin-top: 2rem;
          top: 0;
        }
        .element-description {
          display:block;
        }
        .lower-right {
          opacity: 1;
          bottom: 1.0rem;
        }
      }
    }
  }
  a.element-container {
    display: block;
    width: 100%;
    height: 100%;
    color: $white;
  }
  .element-name {
    position: relative;
    z-index: 2;
    transition-duration: 0.5s;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -1rem;
    top: 50%;
  }
  .element-description {
    position: relative;
    z-index: 2;
    display: none;
    font-weight: normal;
    font-size: 1.2rem;
    width: 100%;
    margin: 0;
    padding: 0 1rem 2rem;;
    transition-duration: 0.5s;
    color: $white;
  }
  .lower-right {
    font-weight: $global-weight-bold;
    opacity: 0;
    transition-duration: 0.5s;
    bottom: 0rem;
  }
}
.activities {
  padding: 6rem 0;
  background-color: $light-gray;
}
