.experiences {
  .top-row {
    border-bottom: 1px solid #cacaca;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    .selected-date {
      display: flex;
      justify-content: flex-end;
      line-height: 40px;
      vertical-align: middle;
      color: darken($medium-gray,30%);
      font-weight: 500;

      .flaticon-calendar {
        cursor: pointer;
        &:before {
          width: 30px;
        }
      }

      &:before {
        margin-right: 0.6rem;
        text-decoration: none;
      }

      .flatpickr-wrapper {
        width: 100%;
        &.open {
          width: 100%;
          .flatpickr-calendar {
            /* override vendor code and align to the right */
            left: auto;
            right: -20px; // move extra far to account for icon
          }
        }
        input {
          padding: 0;
          min-width: 200px;
          border: 0;
          text-decoration: underline;
          @include breakpoint (large) {
            text-align:right;
          }
        }
      }
    }
  }
  .select-activity {
    margin-bottom: 0;
    border-bottom: 0;
    padding: 0;
  }
}
.activity-date-row {
  top: 41px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: $white;
  @include breakpoint ( large ) {
    top: 61px;
  }
}

.row {
  &.selected-experience,
  &.experience-filter {
    max-width: rem-calc(1440);
    border-bottom: 1px solid #eee;
  }
  &.selected-experience {
    margin-top: 114px;
    @include breakpoint( medium ) {
      margin-top: 95px;
    }
    @include breakpoint( large ) {
      margin-top: 54px;
    }
  }
}

.experience-label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.experience-title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  @include breakpoint (large) {
    font-size: 2.4rem;
  }
}

.experience-description {
  line-height: 1.2;
  margin-bottom: 0.5rem;
  width: 100%;
  @include breakpoint (large) {
    height: 7rem;
    overflow-y: scroll;
  }
}
.experience-difficulty-label {
  line-height: 1;
  margin-bottom: 0;
}
.experience-difficulty {
  font-weight: $global-weight-bold;
}
.next-experience {
  margin-bottom: 0.6rem;
  a {
    color: $primary-color;
    font-size: 1.2rem;

    &:hover {
      color: $button-background-hover;
    }
    &:after {
      content: "\f178";
      font: normal normal normal 1.2rem/1.6 FontAwesome;
      display: inline-block;
      margin-left: 10px;
      &:hover {
        color: $button-background-hover;
      }
    }
  }
}
.experience-filter {
  padding: 0.5rem 0;
  p {
    margin-bottom: 0;
  }
  .filter-search {
    a {
      text-decoration: underline;
    }
  }
  label {
    display: table-cell;
    text-align: right;
  }
  .input-group {
    margin: 0;
  }
  .chosen-single,
  .full-overlay-select {
    height: 1.2rem;
    font-size: 1rem;
    line-height: 1.8;
    &:after {
      font-size: 1.6rem;
    }
  }
}

.experience-middle {
  background-color: $offwhite;
  padding-bottom: 6rem;
  padding-top: 0.5rem;
}

.temp-tripadvisor {
  display: block;
  margin:0.4rem 0;
  width: 91px;
}

.experience-arrow {
  color: #969696;
  font-size: 40px;
  cursor: pointer;
}

.experience-image {
  padding: 0px 15px 0px 0px;
  img {
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }
  }
}

.other-experience-p {
  margin-right: 20px;
}
