.experiences {
  .select-activity {
    margin-bottom: 0;
  }
}
.row {
  &.selected-experience,
  &.experience-filter {
    max-width: rem-calc(1440);
  }
}

.experience-label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.experience-title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
}

.experience-description {
  line-height: 1.2;
  margin-bottom: 2rem;
  height: 157px;
  overflow: hidden;
}
.experience-difficulty-label {
  line-height: 1;
  margin-bottom: 0;
}
.experience-difficulty {
  font-weight: bold;
}
.other-experiences {
  .column {
    margin-bottom: 0.9375rem;
  }
}
.next-experience {
  margin-bottom: 0.6rem;
  a {
    color: $primary-color;
    font-size: 1.2rem;

    &:hover {
      color: $button-background-hover;
    }
    &:after {
      content: "\f178";
      font: normal normal normal 1.2rem/1.6 FontAwesome;
      display: inline-block;
      margin-left: 10px;
      &:hover {
        color: $button-background-hover;
      }
    }
  }
}
.experience-filter {
  padding: 0 0 0.5rem 0;
  p {
    margin-bottom: 0;
  }
  a {
    text-decoration: underline;
  }
  label {
    display: table-cell;
    text-align: right;
  }
  .input-group {
    margin: 0;
  }
  .chosen-single {
    height: 1.2rem;
    line-height: 1.2;
    > div {
      b {
        &:after {
          line-height: 16px;
        }
      }
    }
  }
}

.experience-middle {
  background-color: $offwhite;
  padding-bottom: 6rem;
  padding-top: 1rem;
}

.temp-tripadvisor {
  display: block;
  margin:0.4rem 0;
  width: 91px;
}
