/*
Flaticon icon font: Flaticon
Creation date: 15/02/2016 23:28
*/

@font-face {
  font-family: "Flaticon";
  src: url("/flaticon/flaticon.eot");
  src: url("/flaticon/flaticon.eot?#iefix") format("embedded-opentype"),
       url("/flaticon/flaticon.woff") format("woff"),
       url("/flaticon/flaticon.ttf") format("truetype"),
       url("/flaticon/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/flaticon/flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before{
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-adult-child:before { content: "\f100"; }
.flaticon-arrow-left:before { content: "\f101"; }
.flaticon-arrow-right:before { content: "\f102"; }
.flaticon-calendar:before { content: "\f103"; }
.flaticon-cart:before { content: "\f104"; }
.flaticon-checkmark:before { content: "\f105"; }
.flaticon-circle-minus:before { content: "\f106"; }
.flaticon-circle-plus:before { content: "\f107"; }
.flaticon-duration:before { content: "\f108"; }
.flaticon-filters:before { content: "\f109"; }
.flaticon-location:before { content: "\f10a"; }
.flaticon-minus:before { content: "\f10b"; }
.flaticon-photo-gallery:before { content: "\f10c"; }
.flaticon-plus:before { content: "\f10d"; }

$font-Flaticon-adult-child: "\f100";
$font-Flaticon-arrow-left: "\f101";
$font-Flaticon-arrow-right: "\f102";
$font-Flaticon-calendar: "\f103";
$font-Flaticon-cart: "\f104";
$font-Flaticon-checkmark: "\f105";
$font-Flaticon-circle-minus: "\f106";
$font-Flaticon-circle-plus: "\f107";
$font-Flaticon-duration: "\f108";
$font-Flaticon-filters: "\f109";
$font-Flaticon-location: "\f10a";
$font-Flaticon-minus: "\f10b";
$font-Flaticon-photo-gallery: "\f10c";
$font-Flaticon-plus: "\f10d";
