.page-footer {
  color: $white;
  background-color: $black;
  min-height: 150px;
  padding: 3rem 0.25rem;
  margin-top: 0;
  font-size: 12px;
  font-weight: bold;
  img {
    max-width: 100%;
  }
  .image {
    display:inline-block;
    vertical-align: middle;
  }
  .obs-logo {
    @include breakpoint(large) {
      text-align: right;
    }
  }
  .logo {
    img {
      width: 225px;
    }
    @include breakpoint(medium) {
      text-align: left;
    }
  }
  a {
    color: $white;
    &:hover {
      color: $light-gray;
    }
  }
  .creds {
    margin: 2rem auto;
    @include breakpoint( medium ) {
      margin:0;
    }
  }
}
