// Default variables
$font_size: 1.6rem;
$font_size_small: 1.0rem;

$input_border_radius: 0;
$input_height: 42px;
$input_height_small: 36px;
$dropdown_padding: 18px;

$gray_dark: #444 !default;
$gray: #999 !default;
$gray_light: #e8e8e8 !default;
$gray_lighter: #f6f6f6 !default;
$primary_light: $white;
$arrow_color: $white;

// Style the dropdown
.full-overlay-black-overlay {
  background: rgba(0,0,0,.85);
  overflow: hidden;
  padding: 0;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  position:fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

.full-overlay-select-opener {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: $font_size;
  font-weight: normal;
  line-height: 30px;
  outline: none;
  padding-left: $dropdown_padding;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  width: auto;
  @include breakpoint ( medium ) {
    line-height: $input_height - 2;
    position: relative;
  }
  .current {
    position:relative;
    font-size: 1rem;
    padding-right: 45px;
    text-decoration: underline;
    display: inline-block;
    @include breakpoint ( medium ) {
  		font-size: 1.2rem;
  	}
    // Arrow
    &:after {
      @include down-arrow();
    }
  }
  &:active, &:focus {
    border-color: $primary_light;
  }
  &.open {
    @extend :active;
    .current {
      &:after {
        transform: rotate(-180deg);
      }
    }
    > ul {
      pointer-events: auto;
      transform: scale(1) translateY(0);
      opacity: 1;
      z-index: 100;
    }
    .full-overlay-black-overlay {
      opacity: 1;
      z-index: 99;
    }
  }
  &.disabled {
    border-color: lighten($gray_light, 2%);
    color: $gray;
    pointer-events: none;
    &:after {
      border-color: lighten($arrow_color, 20%);
    }
  }
}

.full-overlay-select-list-container {
  // List and options
  > ul {
    background: transparent;
    padding: 0;
    margin: 0;
    opacity: 0;
    color: $white;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    right:0;
    transform-origin: 50% 0;
    transform: scale(.75) translateY(- $input_height / 2);
    transition: all .6s cubic-bezier(0.5, 0, 0, 1.25), opacity .25s ease-out;

    &:hover a:not(:hover) {
      background-color: transparent !important;
    }
    li {
      list-style: none;
    }
    > li {
      position: relative;
      top: 10px;
      left: 1%;
      @include breakpoint ( medium ) {
        top: 50px;
        left: 80px;
    	}
      @include breakpoint ( large ) {
        top: 70px;
    	}
    }
    a,span {
      display:block;
      cursor: pointer;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: $input_height - 2;
      min-height: $input_height - 2;
      outline: none;
      text-align: left;
      transition: all 0.2s;
      color: $white;
      padding-left: 1rem;
      padding-right: 1rem;
      &:hover, &.selected {
        font-weight: $global-weight-bold;
        color: $white;
      }
      &.selected {
        font-weight: $global-weight-bold;
      }
      &.disabled {
        background-color: transparent;
        color: $gray;
        cursor: default;
      }
    }
  }
  &.home {
    @include breakpoint(medium) {
      li {
        width: 100%;
        top: 304px;
        left: 0;
        a {
          padding-left: 45%;
        }
      }
    }
    @include breakpoint(large) {
      li {
        top: 326px;
      }
    }
  }
  &.open {
    @extend :active;
    .current {
      &:after {
        transform: rotate(-180deg);
      }
    }
    > ul {
      pointer-events: auto;
      transform: scale(1) translateY(0);
      opacity: 1;
      z-index: 1000;
    }
    .full-overlay-black-overlay {
      opacity: 1;
      z-index: 999;
    }
    & + div {
      position: fixed;
      z-index: 10;
      min-width: 100vw;
    }
  }
}
