div.home-main {
  margin-bottom: 0;
  width: 100%;
  height: 100vh;
  background: url('/images/canoe-home.jpg') no-repeat top center;
  background-size: cover;
  position: relative;
}
.home-main-inner {
  background: rgba(0,0,0,.35);
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.home-middle {
  background-color: $offwhite;
  padding: 40px 0 80px;
}

.home-bottom {
  padding: 60px 0 0;
  .column {
    > div {
      margin-bottom: 3rem;
      padding-bottom: 3rem;
      border-bottom: 1px solid $light-gray;
    }
  }
}

.search-label,
.search-sublabel {
  text-align: center;
  line-height: 1;
    font-weight: normal;
}

.search-label {
  font-size: 4.2rem;
  padding-bottom: 0.5rem;
}
.search-sublabel {
  font-size: 1.6rem;
  padding-bottom: 1.6rem;
  text-align: center;
}

.suggested-activities {
  font-weight: bold;;
  .menu-text {
    font-style: italic;
  }
  .menu {
    > li {
      > a {
        padding: 1.2rem 1.4rem;
        text-align: center;
      }
    }
  }
}
.search-bar {
  @include center-content();
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.9375rem * 2;
  color: $white;
  margin-bottom: 0;

  .input-group {
    margin-bottom:0;
    padding: 1rem;
    border: 2px solid $white;
    border-radius: 6px;
  }

  .button {
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}

.home {
  .chosen-container-single {
    @extend .chosen-container-single;
    max-width: none;
    min-width: 600px;
    .chosen-single {
      &.chosen-default {
        color: $white;
        font-style: italic;
        font-size: 1.2rem;
        font-weight: 100;
        > div {
          display: none;
        }
        span {
          margin-right: 0;
        }
      }
    }
  }
}
