div.home-main {
  margin-bottom: 20px;
  width: 100%;
  max-height: .8vmax;
}
.home-left,
.home-right {
  background-size: cover;
  height:681px;
  position: relative;
  max-height: 100%;
}
.home-left {
  background: url('/images/eco-tour.jpg') no-repeat left center;
  background-size: cover;
}
.home-right {
  background: url('/images/hot-springs.jpg') no-repeat center center;
  @include breakpoint(medium) {
    background-position: 10px center;
    background-size: cover;
  }
  > div {
    font-size: 36px;
    font-weight: bold;
    color: $white;
    position:relative;
    top: 35%;
    width: 100%;
    text-align: center;
  }
}
.search-label {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  //margin-top: (-0.9375rem/2);
}

.suggested-activities {
  font-weight: bold;;
  .menu-text {
    font-style: italic;
  }
  .menu {
    > li {
      > a {
        padding: 1.2rem 1.4rem;
        text-align: center;
      }
    }
  }
}

.home .search-bar {
  @extend .search-bar;
  position: absolute;
  bottom: 0;
  //margin-left: -0.9375rem;
  //margin-right: -0.9375rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.9375rem * 2;
  color: $white;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.6);
  .chosen-container-single {
    max-width: none;
    display:table-cell;
    &.chosen-container {
          &:before {
          content: "\f002";
          display: inline-block;
          font: normal normal normal 16px/40px FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          position: absolute;
          z-index: 1;
          top: 0;
          margin-top: 0;
          left: 10px;
          color: #666;
      }
    }
    .chosen-single {
      padding-left: 30px;
      background-color: $white;
    }
  }
}
