.products > .columns {
  border-radius: 2px;
}

.new-card.product {
  border-radius: 0;
  .product-details {
    padding-right: 0;
  }
  .price {
    float:right;
    font-weight: normal;
    color: $white;
    background-color: $primary-color;
    font-size: 1.3rem;
    padding: 0.5rem;
    line-height: 1;
    margin: 0;
    margin-right: -0.55rem;
    min-width: 100%;
    span {
      font-size: 0.4rem;
      text-transform: lowercase;
    }
  }
  .photo-gallery {
    list-style: none;
    margin: 6px -0.5rem 0 0;
    clear: right;
    float: right;
    position: relative;
    text-align:right;
    li {
      display: inline-block;
      width: 28px;
      height: 28px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 -1.5px;
      position: relative;
      cursor: pointer;
      &.photo-gallery-caption {
        position: absolute;
        z-index: 10;
        color: $white;
        font-size: 0.7rem;
        width: 100%;
        padding: 6px 0 6px 3px;
        text-align:left;
        .fa {
          margin-right:3px;
        }
      }
      &.hidden {
        display: none;
      }
    }
  }
  .product-icons.fi {
    font-size: 0.7rem;
    .gold {
      color: #f7e53b;
    }
    .fa {
      &:before {
        font-size: 0.9rem;
      }
    }
    &:before {
      font-size: 1.4rem;
    }
  }
  .product-title {
    text-transform: capitalize;
    padding-top: 0.9rem;
  }
  .product-body {
    > .column,
    > .columns {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  .product-description {
    margin-bottom: 0;
    height: 100px;
    overflow:hidden;
  }
}
