.product-description {
  line-height: 1.2;
  margin-bottom: 2rem;
  height: 157px;
  overflow: hidden;
  p:last-of-type {
    margin-bottom: 0;
  }
}
.product-count {
  p {
    width: 100%;
    span {
      color: $primary-color;
      font-weight: bold;
    }
  }
}
.products {
  > .columns {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
.product {
  background-color: $white;
  border-radius: 12px;
  max-width: 340px;
  width: 100%;
  height:100%;
  margin: 0 auto;
  flex: 1;
  .product-header,
  .product-body,
  .product-footer {
    margin: 0;
  }

  .product-header {
    border-bottom: 2px solid $offwhite;
    padding: 1rem 0.5rem;
    height: auto;
    .vendor-image {
      border-radius: 100px;
      height: 75px;
      width: 75px;
      background-size: cover;
      background-position: center center;
      border: 1px solid $light-gray;
    }
    .vendor-name {
      color: $dark-gray;
      font-weight: 100;
      line-height:1.2;
      margin-bottom: 0.2rem;
    }
    .tripadvisor-text {
      margin-bottom: 0;
      font-size: 0.75rem;
      font-weight: 700;
      color: #589442; //tripadvisor green
    }
    .tripadvisor-reviews-count {
      font-style: italic;
      text-decoration: underline;
      display: block;
      font-size: 0.75rem;
      color: $medium-gray;
    }
  }
  .product-body {
    padding: 1rem;
  }
  .product-name {
    text-transform: uppercase;
  }
  .product-description {
    height: 100px;
  }
  .product-description,
  .price-label,
  .price-unit {
    font-size: 0.8rem;
  }
  .price-label,
  .price-unit,
  .price {
    line-height: 1.8rem;
  }
  .price {
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-align: right;
  }
  .product-footer {
    padding: 2rem 0;
    flex-grow: 2;
  }
  .request-to-book {
    a {
      color: #77BAF0;
      display: inline-block;
      text-align: left;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      border: 1px solid;
      border-radius: 6px;
      font-weight: 600;
      line-height: 28px;
      &:after {
        content: "\f054";
        color: $white;
        background-color: #77BAF0;
        border-radius: 30px;
        font: normal normal normal 1rem/0 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        display:inline-block;
        vertical-align: middle;
        margin-left: 0.5rem;
        padding: 17px 20px 15px 12px;
        width: 0;
        height:0;
      }
    }
  }
}
