$bookings-blue: #77BAF0;
.filters-label {
  padding-left: 1rem;
  font-weight: $global-weight-bold;
  text-transform: uppercase;
  text-decoration: underline;
  margin-right: 3rem;
}
.product-filters {
  @extend .no-bullet;
  display: inline-block;
  margin-bottom: 0;
  & > li {
    display: inline-block;
  }
}
.product-filter-dropdown {
  // draw a triangle on the dropdown
  &::before, &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0;
  }
  // triangle border
  &::before {
    top: -11px;
    left: 21px;
    /* If 1px darken stroke slightly */
    border-bottom-color: $medium-gray;
    border-width: 11px;
  }
  // triangle fill
  &::after {
    top: -10px;
    left: 22px;
    border-bottom-color: white;
    // 1px smaller than border draws a
    // 1px border!
    border-width: 10px;
  }
}
.product-count {
  padding-bottom: 0.5rem;
  p {
    width: 100%;
    span {
      color: $primary-color;
      font-weight: $global-weight-bold;
    }
  }
}
.products {
  > .columns {
    margin: 1rem 1rem;
    position: relative;
    background-color: $white;
    border-radius: 12px;
    padding-left: 0;
    padding-right: 0;
    flex-shrink: 1;
    min-width: 340px;
    max-width:340px;
    @include breakpoint (medium) {
      margin: 1rem 1.5rem;
    }
    @include breakpoint (large) {
      margin: 1rem 2rem;

    }
  }
}
.product {
  max-width: 100%;
  width: 340px;
  height:100%;
  margin: 0;
  flex: 0 2 340px;
  position: relative;
  padding-bottom: 88px;
  .product-header,
  .product-body,
  .product-footer {
    margin: 0;
  }

  .fi {
    &:before {
      display:block;
    }
  }

  .product-header {
    border-bottom: 2px solid $offwhite;
    padding: 1rem 0.5rem;
    height: auto;
    .vendor-image {
      border-radius: 100px;
      height: 75px;
      width: 75px;
      background-size: cover;
      background-position: center center;
      border: 1px solid $light-gray;
    }
    .vendor-name {
      color: $dark-gray;
      font-weight: 100;
      line-height:1.2;
      margin-bottom: 0.2rem;
    }
    .tripadvisor-text {
      margin-bottom: 0;
      font-size: 0.75rem;
      font-weight: 700;
      color: #589442; //tripadvisor green
    }
    .tripadvisor-reviews-count {
      font-style: italic;
      text-decoration: underline;
      display: block;
      font-size: 0.75rem;
      color: $medium-gray;
    }
  }
  .product-body {
    padding: 1rem;
  }
  .product-name {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    p {
      margin-bottom: 0;
    }
    @include breakpoint (medium) {
      height: 1.6rem * 2;
    }
  }
  .product-description {
    line-height: 1.2;
    margin-bottom: 2rem;
    min-height: 80px;
    p:last-of-type {
      margin-bottom: 0;
    }
  }
  .product-description,
  .price-label,
  .price-unit {
    font-size: 0.8rem;
  }
  .price-label,
  .price-unit,
  .price {
    line-height: 1.8rem;
  }
  .price {
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-align: right;
  }
  .more-prices {
    text-align: center;
    margin-top: -8px;
    margin-bottom: 17px;
    a {
      color: $bookings-blue;
      font-size: .9em;
      text-decoration: underline;
    }
  }
  .product-footer {
    padding: 2rem 0;
    display: block;
    position:absolute;
    bottom: 0;
    width: 100%;
    p {
      margin: 0;
    }
  }
  .request-to-book {
    a {
      color: $bookings-blue;
      display: inline-block;
      text-align: left;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      border: 1px solid;
      border-radius: 6px;
      font-weight: 600;
      line-height: 28px;
      &:after {
        content: "\f054";
        color: $white;
        background-color: $bookings-blue;
        border-radius: 30px;
        font: normal normal normal 1rem/0 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        display:inline-block;
        vertical-align: middle;
        margin-left: 0.5rem;
        padding: 17px 20px 15px 12px;
        width: 0;
        height:0;
      }
    }
  }
}

.duration,
.age-restriction,
.location,
.product-icons {
  &.fi {
    text-align:center;
    color: $medium-gray;
  	font-size: 0.8rem;
    &:before {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      display: block;
      text-align:center;
    }
  }
}

.product-sorter-dropdown {
  width: 150px;
  cursor: pointer;
  right: 30px;
  left: auto !important;

  &::before, &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0;
  }
  // triangle border
  &::before {
    top: -11px;
    right: 21px;
    /* If 1px darken stroke slightly */
    border-bottom-color: $medium-gray;
    border-width: 11px;
  }
  // triangle fill
  &::after {
    top: -10px;
    right: 22px;
    border-bottom-color: white;
    // 1px smaller than border draws a
    // 1px border!
    border-width: 10px;
  }
}

.selected-sort {
  font-weight: bold;
}
