$bookings-blue: #77BAF0;
.products-loading {
  background: $white;
  padding-top: 4rem;
  font-size: 1.6rem;
}

.product-filters-header {
  margin-bottom: 2rem;
  width: 104%;
  margin-left: -2%;
  .filters-label {
    margin: 0;
    font-weight: $global-weight-bold;
    text-transform: uppercase;
    text-decoration: underline;
    margin-right: 1rem;
  }
  .clear {
    margin: 0;
    text-transform: uppercase;
    border-radius: 0;
    padding: .5em 1em;
  }
}

.product-filters {
  @extend .no-bullet;
  margin-bottom: 0;
  clear: both;
  .filter {
    margin-bottom: 1rem;
    &:not(:first-child) {
      border-top: 1px solid $gray;
      padding-top: 1rem;
    }
    h4 {
      cursor: pointer;
      i {
        float: right;
      }
    }
  }
}

.product-bar {
  padding-top: 1rem;
  transition: all 0.5s;
  .product-count {
    padding-bottom: 0.5rem;
    p {
      width: 100%;
      span {
        color: $primary-color;
        font-weight: $global-weight-bold;
      }
    }
  }
}

.products {
  background-color: $offwhite;
  padding-bottom: 10rem;
  padding-top: 0.5rem;
  display:flex;
  flex-wrap: wrap;
  .product-card-outer {
    margin: 15px;
    position: relative;
    background-color: $white;
    border-radius: 12px;
    padding-left: 0;
    padding-right: 0;
    flex-shrink: 1;
    border-radius: 2px;
  }
}


.product {
  max-width: 100%;
  width: 340px;
  height:100%;
  margin: 0;
  flex: 0 2 340px;
  position: relative;
  padding-bottom: 88px;
  border-radius: 0;
  .product-header,
  .product-body,
  .product-footer {
    margin: 0;
  }
  .product-details {
    padding-right: 0;
  }

  .fi {
    &:before {
      display:block;
    }
  }

  .product-header {
    border-bottom: 2px solid $offwhite;
    padding: 1rem 0.5rem;
    height: auto;
    .vendor-image {
      border-radius: 100px;
      height: 75px;
      width: 75px;
      background-size: cover;
      background-position: center center;
      border: 1px solid $light-gray;
    }
    .vendor-name {
      color: $dark-gray;
      font-weight: 100;
      line-height:1.2;
      margin-bottom: 0.2rem;
    }
    .tripadvisor-text {
      margin-bottom: 0;
      font-size: 0.75rem;
      font-weight: 700;
      color: #589442; //tripadvisor green
    }
    .tripadvisor-reviews-count {
      font-style: italic;
      text-decoration: underline;
      display: block;
      font-size: 0.75rem;
      color: $medium-gray;
    }
  }
  .product-body {
    padding: 1rem;
    > .column,
    > .columns {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  .product-title {
    text-transform: capitalize;
    padding-top: 0.9rem;
  }
  .product-name {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    p {
      margin-bottom: 0;
    }
    @include breakpoint (medium) {
      height: 1.6rem * 2;
    }
  }
  .product-description {
    line-height: 1.2;
    margin-bottom: 0;
    height: 100px;
    overflow:hidden;
    p:last-of-type {
      margin-bottom: 0;
    }
  }
  .product-description,
  .price-label,
  .price-unit {
    font-size: 0.8rem;
  }
  .price-label,
  .price-unit,
  .price {
    line-height: 1.8rem;
  }
  .price {
    letter-spacing: 1px;
    text-align: right;
    float:right;
    font-weight: normal;
    color: $white;
    background-color: $primary-color;
    font-size: 1.3rem;
    padding: 0.5rem;
    line-height: 1;
    margin: 0;
    margin-right: -0.55rem;
    min-width: 100%;
    span {
      font-size: 0.4rem;
      text-transform: lowercase;
    }
  }
  .photo-gallery {
    list-style: none;
    margin: 6px -0.5rem 0 0;
    clear: right;
    float: right;
    position: relative;
    text-align:right;
    li {
      display: inline-block;
      width: 28px;
      height: 28px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 -1.5px;
      position: relative;
      cursor: pointer;
      &.photo-gallery-caption {
        position: absolute;
        z-index: 10;
        color: $white;
        font-size: 0.7rem;
        width: 100%;
        padding: 6px 0 6px 3px;
        text-align:left;
        .fa {
          margin-right:3px;
        }
      }
      &.hidden {
        display: none;
      }
    }
  }
  .product-footer {
    padding: 2rem 0;
    display: block;
    position:absolute;
    bottom: 0;
    width: 100%;
    p {
      margin: 0;
    }
  }
  .request-to-book {
    a {
      color: $bookings-blue;
      display: inline-block;
      text-align: left;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      border: 1px solid;
      border-radius: 6px;
      font-weight: 600;
      line-height: 28px;
      &:after {
        content: "\f054";
        color: $white;
        background-color: $bookings-blue;
        border-radius: 30px;
        font: normal normal normal 1rem/0 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        display:inline-block;
        vertical-align: middle;
        margin-left: 0.5rem;
        padding: 17px 20px 15px 12px;
        width: 0;
        height:0;
      }
    }
  }
}

.photo-gallery-thumbs {
  list-style: none;
  margin: 0;
  li {
    margin-left: 0;
    display: inline-block;
    width: 25px;
    margin: 0 -1px;
  }
}

.product-icons {
  &.fi {
    text-align:center;
    color: $medium-gray;
    font-size: 0.7rem;
    .gold {
      color: #f7e53b;
    }
    .fa {
      &:before {
        font-size: 0.9rem;
      }
    }
    &:before {
      margin-bottom: 0.5rem;
      font-size: 1.4rem;
      display: block;
      text-align:center;
    }
  }
}

.product-sorter-dropdown {
  width: 150px;
  cursor: pointer;
  right: 30px;
  left: auto !important;

  &::before, &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0;
  }
  // triangle border
  &::before {
    top: -11px;
    right: 21px;
    /* If 1px darken stroke slightly */
    border-bottom-color: $medium-gray;
    border-width: 11px;
  }
  // triangle fill
  &::after {
    top: -10px;
    right: 22px;
    border-bottom-color: white;
    // 1px smaller than border draws a
    // 1px border!
    border-width: 10px;
  }
}

.selected-sort {
  font-weight: bold;
}
