<div class="experience-middle">
  <div class="row experience-count">
    <div class="column small-12 medium-10 large-11">
      <p>Explore <span>6</span> products under "13 Mile Grand Teton National Park"</p>
    </div>
  </div>
  <div class="row align-justify experiences">
    {{#each model as |lols|}}
      <div class="columns small-12 medium-6 large-4" >
        <div class="experience">
          <div class="row experience-header">
            <div class="shrink column">
              <img class="vendor-image" src="http://placehold.it/75x75">
            </div>
            <div class="columns expand">
              <p class="vendor-name">Jackson Hole Whitewater</p>
              <img class="temp-tripadvisor" src="images/tripadvisor.jpg">
              <p class="vendor-address">600 Pine Drive, Jackson, WY 83001</p>
            </div>
          </div>
          <div class="row experience-body">
            <div class="experience-name column small-12">
              <p>16 Man Raft with Lunch</p>
            </div>
            <div class="column small-12 large-4">
              <p class="duration">3 Hours</p>
            </div>
            <div class="column small-12 large-4">
              <p class="age-restriction">6+ Years</p>
            </div>
            <div class="column small-12 large-4">
              <p class="location">Pick Up</p>
            </div>
            <div class="experience-description column small-12">
              <p>Ut a nisl id ante tempus hendrerit. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Vestibulum volutpat pretium libero. Maecenas tempus.</p>
            </div>
            <div class="column large-4">
              <p class="price-label">ages 12+</p>
            </div>
            <div class="column large-4">
              <p class="price">$180</p>
            </div>
            <div class="column expand">
              <p class="price-unit">per person</p>
            </div>
            <div class="column large-4">
              <p class="price-label">ages 6-12</p>
            </div>
            <div class="column large-4">
              <p class="price">$80</p>
            </div>
            <div class="column expand">
              <p class="price-unit">per person</p>
            </div>
          </div>
          <div class="row experience-footer align-center">
            <div class="large-7">
              <div class="request-to-book">
                <p><a href="#">Request To Book</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
