<%= render "form.html",
  changeset: @changeset,
  action: admin_activity_amenity_amenity_option_path(@conn, :create, @activity, @amenity),
  back: admin_activity_amenity_path(@conn, :show, @activity, @amenity) %>
