<%= render "form.html", changeset: @changeset,
                        action: admin_content_item_path(@conn, :update, @content_item),
                        back: admin_content_item_path(@conn, :index) %>
