<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Explore | Outpost | Jackson Hole eConcierge</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="icon" href="<%= static_path(@conn, "/favicon.ico") %>" type="image/gif" sizes="16x16">

    <link rel="stylesheet" href="<%= static_path(@conn, "/explore/assets/vendor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    {{content-for "head-footer"}}
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <%= render Grid.LayoutView, "_off_canvas_menu.html" %>
        <div class="off-canvas-content" data-off-canvas-content>
          {{content-for "body"}}

          <%= render Grid.LayoutView, "_header.html" %>

          <div id="app-bootstrap"></div>

          <%= render Grid.LayoutView, "_footer.html" %>
        </div>
      </div>
    </div>

    <%= render Grid.LayoutView, "_footer_scripts.html", conn: @conn %>
    <script src="<%= static_path(@conn, "/explore/assets/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/explore/assets/client.js") %>"></script>

    {{content-for "body-footer"}}
  </body>
</html>
