<%= render "form.html", changeset: @changeset,
                        action: admin_activity_amenity_path(@conn, :update, @activity, @amenity),
                        back: admin_activity_path(@conn, :show, @activity) %>
