<%= render "form.html", changeset: @changeset,
                        action: admin_activity_amenity_path(@conn, :create, @activity),
                        back: admin_activity_path(@conn, :show, @activity) %>
