
input[type="radio"]:checked + label > img {
   border: 2px blue solid;
}

input:checked + .checkbox-controlled {
   visibility: hidden;
}

.validation-error {
  color: #a94442;
}

.glyphicon-exclamation-sign {
  padding-right: 5px;
}
