<div class="columns small-12 medium-6 large-4">
  <div class="row align-middle" style="background-image: url('{{activity.defaultImage.full}}');">
    <div class="darken-overlay"></div>
    <div class="element-name column">
      <p class="lead">{{activity.name}}</p>
    </div>
    <div class="element-description column">
      <p>
        {{#link-to 'categories' activity.slug}}
          <span>{{activity.description}}</span>
        {{/link-to}}
      </p>
    </div>
  </div>
</div>
