<div class="columns small-12 medium-6 large-4">
  <div class="row align-middle text-center align-stretch" style="background-image: url('{{activity.defaultImage.full}}');">
    {{#link-to 'activity' activity class="element-container"}}
        <div class="darken-overlay"></div>
        <p class="element-name column small-12">{{activity.name}}</p>
        <p class="element-description column small-12">{{activity.description}}</p>
        <p class="lower-right column small-12">click to continue</p>
    {{/link-to}}
  </div>
</div>
