<div class="activity-navigator-bar" style="background-image: url({{activity.image.full}})">
  <div class="select-activity">
    <p>Activity:</p>
    <div class="full-overlay-select-opener" tabindex="0">
      <span class="current">{{activity.name}}</span>
    </div>
  </div>
</div>
