<div class="activity-navigator-bar" style="background-image: url({{currentCategory.image.full}})">
  <div class="select-activity">
    <p>Activity:</p>
    <div class="full-overlay-select-opener" tabindex="0">
      <span class="current">{{currentActivity.name}} - {{currentCategory.name}}</span>
    </div>
  </div>
</div>
