<div class="columns small-12 medium-6 large-4">
  <div class="row text-center activity-card" style="background-image: url('{{activity.defaultImage.medium}}');">
    <div class="darken-overlay"></div>
    {{#link-to 'activity' activity class="element-container"}}
      <p class="element-name">{{activity.name}}</p>
      <p class="element-description">{{activity.description}}</p>
      <p class="element-cta">click to continue</p>
    {{/link-to}}
  </div>
</div>
