<div class="row other-experiences align-right align-middle">
  {{#each visibleExperiences as |otherExperience|}}
  {{!-- don't render the currently selected category twice --}}
  {{#unless (eq currentExperience.id otherExperience.id)}}
    <div class="column small-2 experience-image">
      {{#foundation-tooltip tooltipText=otherExperience.name}}
        {{#link-to 'explore.experience' otherExperience}}
          <img src="{{placehold-it otherExperience.image.medium '100x100'}}">
        {{/link-to}}
      {{/foundation-tooltip}}
    </div>
  {{/unless}}
  {{/each}}
  {{#if isSliderVisible}}
    <i class="fa fa-chevron-right experience-arrow" {{action "shiftRight"}}></i>
  {{/if}}
</div>
