<ul class="filter-list">
  {{#if clearButtonLabel}}
  <li class="filter-option">
    <button onClick={{action attrs.clear}}>
      <span class="fa-stack">
        {{#unless isFiltering}}
        <i class="fa fa-check fa-stack-1x checkmark"></i>
        {{/unless}}
        <i class="fa fa-square-o fa-lg checkbox"></i>
      </span>
      <span class="filter-label">
        {{clearButtonLabel}}
      </span>
    </button>
  </li>
  {{/if}}
  {{#each displayableOptions key="value" as |option|}}
  <li class="filter-option">
    <button onClick={{action "select" option.value}}>
      <span class="fa-stack">
        {{#if option.selected}}
        <i class="fa fa-check fa-stack-1x checkmark"></i>
        {{/if}}
        <i class="fa fa-square-o fa-lg checkbox"></i>
      </span>
      <span class="filter-label">
        {{option.label}}
      </span>
    </button>
  </li>
  {{/each}}
</ul>
