<div class="selected-date">
  <div class='fi flaticon-calendar' />
  {{flat-pickr defaultDate=date dateFormat="D, F j, Y" minDate=formattedMinDate onChange=(action attrs.changeDate) class='grid-calendar'}}
</div>
