<div class="selected-date medium-text-right">
  <div class="fi flaticon-calendar show-for-small-only" />
  {{flat-pickr defaultDate=date dateFormat="D, F j, Y" minDate=formattedMinDate onChange=(action attrs.changeDate) class='grid-calendar'}}
  <div class="fi flaticon-calendar show-for-medium" />
</div>
