<div class="selected-date text-right">
  {{flat-pickr defaultDate=date dateFormat="D, F j, Y" minDate=formattedMinDate onChange=(action attrs.changeDate) class='grid-calendar'}}
  <div class='fi flaticon-calendar' />
</div>
