<div class="row product-header">
  <div class="product-name column small-8">
    <p class="product-title">{{product.name}}</p>
  </div>
  <div class="product-details column small-4">
    <p class="price"><span>from</span> ${{product.displayPrice}}</p>
  </div>
</div>
<div class="row product-body align-bottom">
  {{new-product-icons product=product}}
  <div class="product-description column small-12">
    {{{product.short_description}}}
    <p>Read More &hellip;</p>
  </div>
</div>
<div class="row product-footer text-center">
  <div class="column">
    <p class="request-to-book"><span>Click To Book</span></p>
  </div>
</div>
