<div class="column large-4">
  <p class="price-label">{{price.name}}</p>
</div>
<div class="column large-4">
  <p class="price">${{startingAmount}}</p>
</div>
<div class="column large-4">
  <p class="price-unit">
  {{#if (gt price.people_count 1)}}
    per {{price.people_count}} people
  {{else}}
    per person
  {{/if}}
  </p>
</div>
