<div class="column small-6">
  <p class="duration fi flaticon-duration product-icons">{{duration}}</p>
</div>
{{!-- <div class="column small-12 large-4">
  <p class="age-restriction fi flaticon-adult-child">6+ Years</p>
</div> --}}
<div class="column small-6">
  <p class="location fi flaticon-location product-icons">
    {{if product.pickup "Pick Up" "Meet At Location"}}
  </p>
</div>
