<ul class="filter-list text-right">
  {{#each-in options as |key value|}}
    <li class="{{if (eq sort key) 'selected-sort'}} filter-option" onClick={{action "select" key}}>{{key}}</li>
  {{/each-in}}
</ul>
