<ul class="filter-list text-right">
{{#each options as |option|}}
  <li class="{{if (eq sort option) 'selected-sort'}}" onClick={{action attrs.onSelect option}}>
    {{option}}
  </li>
{{/each}}
</ul>
