<label>Time</label>
<div class="datepicker">
  <select onchange={{action "change"}} style="background-image: none;">
    <option>Select a time...</option>
    {{#item-sorter items=times by=['starts_at_time:asc'] as |time|}}
    <option value={{time.id}}>{{moment-format time.starts_at_time 'h:mm a' 'hh:mm:ss'}}</option>
    {{/item-sorter}}
  </select>
</div>
