<label>Time</label>
{{#if date}}
<select onchange={{action "change"}} style="background-image: none;">
  <option>Select</option>
  {{#each timesForDate as |time|}}
  <option value={{time.id}}>{{moment-format time.starts_at_time 'h:mm a' 'hh:mm:ss'}}</option>
  {{/each}}
</select>
{{else}}
<select disabled="disabled" style="background-image: none;">
  <option>Please select a date</option>
</select>
{{/if}}
