<label>Time</label>
<div class="datepicker">
  <select onchange={{action "change"}} style="background-image: none;">
    {{#each times as |time|}}
    <option value={{time.id}}>{{time.starts_at_time}}</option>
    {{/each}}
  </select>
</div>
