<label>Time</label>
<select onchange={{action "change"}} style="background-image: none;">
  <option>Select a time...</option>
  {{#each timesForDate as |time|}}
  <option value={{time.id}}>{{moment-format time.starts_at_time 'h:mm a' 'hh:mm:ss'}}</option>
  {{/each}}
</select>
