<%= render "form.html", changeset: @changeset,
                        action: admin_kiosk_slide_path(@conn, :update, @kiosk, @slide),
                        back: admin_kiosk_slide_path(@conn, :index, @kiosk) %>
