<div class="activity">
  <div class="row expanded">
    <div class="input-group select-activity">
      <span>Activity:</span>
      <div class="input-group-field" >
        <div class="full-overlay-select" tabindex="0">
          <span class="current">{{activity.name}}</span>
          <ul>
            {{#item-sorter items=activities as |activity|}}
              <li>{{link-to activity.name "categories" activity.slug activeClass="selected"}}</li>
            {{/item-sorter}}
          </ul>
          <div class="full-overlay-black-overlay"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-spaced categories element-cards">
    {{#item-sorter items=categories as |element|}}
      {{element-card element=element}}
    {{/item-sorter}}
    {{#unless categories}}
    <div class="columns small-12" >
      Sorry, no categories found for {{activity.name}}
    </div>
    {{/unless}}
  </div>
</div>
