<div class="jumbotron error-404 row expanded">
  <div class="darken-overlay"></div>
  <div class="small-12 large-offset-1 large-9 columns">
    <p>Error Code: 404</p>
    <p class="large">Oops! Looks like there's been a moose-take.<br>We can't seem to find the page you're looking for.</p>
    <p>Here are some helpful alternatives:</p>
    <p class="links-out"><a href="/">Take me home!</a>&nbsp;<a href="#">Chat with us</a></p>
  </div>
</div>
