<div class="jumbotron error-500 row expanded">
  <div class="darken-overlay"></div>
  <div class="small-12 large-offset-1 large-9 columns">
    <p>Error Code: 500</p>
    <p class="large">Something looks fishy.</p>
    <p>It appears there's been an internal server error with the page you requested. We've tracked this error and are working to fix it. In the meantime, please try refreshing.</p>
    <p>&nbsp;</p>
    <p class="links-out"><a href="/">Take me home!</a></p>
  </div>
</div>
