<div class="top-row row expanded">
  <div class="input-group select-activity">
    <span>Choose your </span>
    {{category-dropdown activity=activity category=category date=date}}
    <span> experience</span>
  </div>
</div>
{{outlet}}
