<div class="top-row row expanded">
  <div class="columns small-12 medium-9 large-10">
    <div class="input-group select-activity">
      <span>Choose your </span>
      {{category-dropdown activity=activity category=category date=date}}
      <span> experience</span>
    </div>
  </div>
  <div class="columns small-12 medium-3 large-2">
    <div class="fi flaticon-days selected-date">{{moment-format date 'ddd, MMMM D, YYYY'}}</div>
  </div>
</div>
{{outlet}}
