<div class="top-row row align-middle align-center">
  <div class="column small-12 medium-8">
    <h1 class="page-title">Requests Submitted!</h1>
    <p class="page-subtitle">
      A request has been submitted for each of your reservations.
      <br>
      You will be notified by email within 24 hours if a vendor accepts or declines.
    </p>
  </div>
</div>
<a href="http://www.outpostjh.com/rentals/" class="row expanded align-center align-middle rentals-jumbotron">
  <div class="columns small-12">
    <h2 class="page-title">View Our Rentals</h2>
    <p class="page-subtitle">Book a place to stay in Jackson Hole</p>
  </div>
</a>
{{outlet "activities"}}
