.activity-navigator-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 40vh;

  transition: all 0.5s;

  padding: 1rem;
	@include breakpoint (large) {
    padding-left: 3rem;
	}

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .select-activity {
    color: white;
    margin-bottom: 0;
    border-bottom: 0;
    padding: 0;
    p {
      text-transform: uppercase;
      font-weight: $global-weight-bold;
    }
    .full-overlay-select-opener {
      padding: 0;
    }
    .current {
      font-size: 2em;
      text-decoration: none;
      border-bottom: 2px solid;
      &::after {
        font-size: 3.2rem;
        top: 0;
        margin-top: -0.6rem;
      }
    }
  }
}
.scrolled {
  position: relative;
  .top-elements {
    position: fixed;
    top: 61px;
    z-index: 10;
    width: calc( 100vw - 320px);
  }
  .activity-navigator-bar{
    width: inherit;
    height: auto;
    background-image: none !important;
    background-color: $primary-color;
    color: $white;
    padding: 0.5rem 1rem;
    .select-activity {
      p {
        display: inline-block;
        margin: 0;
        text-transform: none;
        font-weight: normal;
        & + div {
          display: inline-block;
          float: none;
        }
      }
    }
    .current {
      font-size: 1.2rem;
      border-bottom: 0;
      &:after {
        font-size: 1.6rem;
        margin-top: 0.4rem;
      }
    }
  }
  .product-bar {
    background-color: $offwhite;
    margin: 0;
    padding-top: 0.5rem;
    max-width: 100%;
    p {
      margin: 0;
    }
  }
  .product-sort {
    position: relative;
    top: -48px;
    z-index: 20;
    color: $white;
  }
}
