.activity-navigator-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 40vh;
  max-height: 533px;

  transition: all 0.5s;

  padding: 1rem;
	@include breakpoint (large) {
    padding-left: 3rem;
	}

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .select-activity {
    color: white;
    margin-bottom: 0;
    border-bottom: 0;
    padding: 0;
    flex: 1 1 auto;
    p {
      text-transform: uppercase;
      font-weight: $global-weight-bold;
      margin-bottom: 0;
      @include breakpoint (large) {
        margin-bottom: 16px;
      }
    }
    .full-overlay-select-opener {
      padding: 0;
    }
    .current {
      font-size: 0.8rem;
      text-decoration: none;
      border-bottom: 1px solid;
      &:after {
        font-size: 1.2rem;
        top: 0;
        margin-top: 0.4rem;
        text-align: right;
      }
      @include breakpoint (large) {
        font-size: 2rem;
        text-decoration: none;
        border-bottom: 2px solid;
        &:after {
          font-size: 2.4rem;
          top: 0;
          margin-top: 0rem;
        }
      }
    }
  }
  .scrolled &,
  .photo-cards & {
    width: inherit;
    height: auto;
    background-image: none !important;
    background-color: $primary-color;
    color: $white;
    padding: 0.5rem 1rem;
    p {
      font-size: 12px;
      line-height: 1.2;
    }
    @include breakpoint (large) {
      .select-activity {
        p {
          display: inline-block;
          margin: 0;
          line-height: 1.6;
          font-size: 1.2rem;
          text-transform: none;
          font-weight: normal;
          & + div {
            display: inline-block;
            float: none;
          }
        }
      }
      .current {
        border-bottom: 0;
        font-size: 1.2rem;
        &:after {
          font-size: 1.6rem;
          margin-top: .4rem;
          text-align: left;
        }
      }
    }
  }
}
