.filter-option {
  button {
    text-align: left;
  }
  .fa-stack {
    text-align: center;
  }
}

.filter-label {
  .filter-label-text {
    text-decoration: underline;
    color: $primary-color;
  }
}
