// Sass utilities
@import 'util/util';
// Global variables and styles
@import 'global';
@import "pre-settings";
@import "settings";
@import 'foundation';
@import "spinners";
@import 'motion-ui';
@include foundation-everything(true);
@include motion-ui-transitions;

@import "partials/mixins";

@import "partials/activity";
@import "partials/booking";
@import "partials/booked";
@import "partials/categories";
@import "partials/cart";
@import "partials/common";
@import "partials/explore";
@import "partials/flaticon";
@import "partials/footer";
@import "partials/fulloverlay-select";
@import "partials/header";
@import "partials/home";
@import "partials/order-complete";
@import "partials/products";
@import "partials/vendors";
@import "partials/how_works";

@import "components/activity-navigator-bar";
@import "components/filter-selector";
@import "components/filter-label";
@import "components/grid-calendar";

// fix foundation row in expanded row bug
.row.expanded .row {
  margin-left: auto;
  margin-right: auto;
}

// show tooltips over modals
.tooltip {
  z-index: 10000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  &.right::before {
    display: none;
    border: none;
  }
}

//fix orbit-bullet over close button button-margin
.orbit {
  text-align: center;
}
nav.orbit-bullets {
  display: inline-block;
}
