<%= render "form.html", changeset: @changeset,
                        action: admin_activity_path(@conn, :update, @activity),
                        categories: @categories %>

<%= link "Back", to: admin_activity_path(@conn, :index) %>
