
<%= render "form.html", changeset: @changeset,
                        action: admin_activity_path(@conn, :create),
                        back: admin_activity_path(@conn, :index),
                        categories: @categories %>
