<ul>

  <li>
    <strong>Name:</strong>
    <%= @activity.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @activity.description %>
  </li>

  <li>
    <strong>Categories:</strong>
    <%= Enum.map(@activity.categories, &(&1.name)) |> Enum.join(" | ") %>
  </li>

</ul>

<%= link "Edit", to: admin_activity_path(@conn, :edit, @activity) %>
<%= link "Back", to: admin_activity_path(@conn, :index) %>
