<ul>

  <li>
    <strong>Name:</strong>
    <%= @activity_type.name %>
  </li>

</ul>

<%= link "Edit", to: activity_type_path(@conn, :edit, @activity_type) %>
<%= link "Back", to: activity_type_path(@conn, :index) %>
