<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Outpost | Jackson Hole eConcierge</title>
    <link rel="stylesheet" href="<%= static_path(Grid.Endpoint, "/css/app.css") %>">
    <link rel="icon" href="<%= static_path(Grid.Endpoint,"/favicon.ico") %>" type="image/gif" sizes="16x16">
  </head>

  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <%= render Grid.LayoutView, "_off_canvas_menu.html" %>
        <div class="off-canvas-content" data-off-canvas-content>
          <%= render Grid.LayoutView, "_header.html" %>

          <div class="jumbotron error-500 row expanded">
            <div class="darken-overlay"></div>
            <div class="small-12 large-offset-1 large-9 columns">
              <p>Error Code: 500</p>
              <p class="large">Something looks fishy.</p>
              <p>It appears there's been an internal server error with the page you requested. We've tracked this error and are working to fix it. In the meantime, please try refreshing.</p>
              <p>&nbsp;</p>
              <p class="links-out"><a href="/">Take me home!</a></p>
            </div>
          </div>

          <%= render Grid.LayoutView, "_footer.html" %>
        </div>
        <script src="<%= static_path(Grid.Endpoint, "/js/vendor.js") %>"></script>
        <script src="<%= static_path(Grid.Endpoint, "/js/app.js") %>"></script>
        <script src="https://use.typekit.net/fal4rbd.js"></script>
        <script>try{Typekit.load({ async: false });}catch(e){}</script>
      </div>
    </div>
  </body>
</html>
