<%= "<%=" %> render "form.html", changeset: @changeset,
                        action: <%= singular %>_path(@conn, :update, @<%= singular %>),
                        back: <%= singular %>_path(@conn, :index) <%= "%\>" %>
