<%= "<%=" %> render "form.html", changeset: @changeset,
                        action: <%= singular %>_path(@conn, :create),
                        back: <%= singular %>_path(@conn, :index) <%= "%\>" %>
