<%= render "form.html", changeset: @changeset,
                        vendors: @vendors,
                        slides: @slides,
                        action: admin_kiosk_path(@conn, :create),
                        back: admin_kiosk_path(@conn, :index) %>
