<%= render "form.html", changeset: @changeset,
                        action: admin_activity_image_path(@conn, :create, @activity.id),
                        back: admin_activity_image_path(@conn, :index, @activity.id) %>
